body {
  background-color: black;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.image {
  width: 40vmin;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}

.gallery {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 80vh;
  width: 80vw;
  background: #f0f0f0;
}
